/* Order Component Animation */
    
@keyframes arrowAnimation
    0%,100%
        transform: translateY(0px)
    20%
        transform: translateY(0px)
        
    30%
        transform: translateY(10px)

    40%
        transform: translateY(0)

    50%
        transform: translateY(5px)
    60%
        transform: translateY(1px)
    70%
        transform: translateY(3px)
    
    80%
        transform: translateY(1px)

@keyframes titleApper 
    0%
        opacity: 0
        transform: translateY(20px)
    100%
        opacity: 1
        transform: translateY(0)


@keyframes subTitleAppear
    0%
        opacity: 0
        
    100%
        opacity: 1


@keyframes leftButtonAppear
    0%
        opacity: 0
        transform: translateX(-20px)
        
    100%
        opacity: 1
        transform: translateX(0)

@keyframes rightButtonAppear
    0%
        opacity: 0
        transform: translateX(20px)
        
    100%
        opacity: 1
        transform: translateX(0)

@keyframes arrowDownApper
    0%
        opacity: 0
        transform: translateY(-20px)
    100%
        opacity: 1
        transform: translateY(0)

/* Safety Section Animation */

@keyframes showstickScaleY
    0%
        transform: scaleY(0)
        
    100%
        transform: scaleY(1)

@keyframes showdot 
    0%
        opacity: 0
    100%
        opacity: 1


@keyframes translateYOpacityShow
    0%
        opacity: 0
        transform: translateY(2rem)
        
    100%
        opacity: 1
        transform: translateY(0)


@keyframes showstickScaleYTop
    0%
        transform-origin: top
        transform: scaleY(0) 
    100%
        transform-origin: top
        transform: scaleY(1)

@keyframes translateYOpacityShowFromTop
    0%
        opacity: 0
        transform: translateY(-3rem)   
    100%
        opacity: 1
        transform: translateY(0)

@keyframes expandShadowCloseButton
    0%
        width: 3.6rem
        border-radius: 100%
    1%
        border-radius: 2rem
    100%
        width: 10rem
        border-radius: 2rem
