/* Order Button Component */

.orderButton
    background: none
    border: 3px solid black
    padding: 1rem 3.5rem
    border-radius: 5rem
    cursor: pointer
    text-transform: uppercase
    align-self: center
    font-size: 1.2rem
    font-weight: 400
    font-family: 'Gotham Medium'
    color: black
    transition: all .3s ease-in-out
    opacity: .9
    &:active,
    &:focus
        outline: none
    &:hover 
        color: white
        background-color: black
    &--full
        width: 70%
        margin: 3rem auto 0
    &--animated
        opacity: 0
    
/* Learn Button Component */    

.learnButton
    background: none
    text-transform: uppercase
    border: none
    margin-right: 2rem
    display: flex
    align-items: center
    cursor: pointer
    &:active,
    &:focus
        outline: none
    &:disabled
        opacity: .3
        pointer-events: none
    &:hover
        .learnButton__learnicon
            color: white
            background-color: black
        
        
    &__learnText
        color: #171a20
        font-family: 'Gotham Book'
        font-size: 1.3rem
        font-weight: 400

    &__learnicon
        // cursor: pointer
        margin-right: 1rem
        padding: .8rem .9rem
        font-size: 2rem
        border: 3px solid black
        border-radius: 100%
        transition: all .2s ease
        &:hover
            color: white
            background-color: black

/* Close Button Element */
.closeNextButton
    position: fixed
    bottom: 3%
    left: 50%
    background: none
    border: 2px solid black
    padding: .6rem .9rem .5rem .9rem
    border-radius: 100%
    cursor: pointer
    transition: all .1s linear
    &:hover
        background-color: black
        color: white
    &:focus
    &:active
        outline: none
    @include responsive(phone)
        left: 45%
        bottom: 5%

    &--next
        padding: .6rem .9rem .4rem .9rem
    &__container
        position: fixed
        bottom: 2.7%
        left: 49.8%
        width: 3.6rem
        height: 3.6rem
        border-radius: 100%
        background-color: rgba(244, 244, 244, .5)
        transition: width .2s linear
        &:hover
            animation: expandShadowCloseButton .1s linear forwards
        @include responsive(tablet)
            background: none

    &__text
        position: fixed
        bottom: 4%
        left: 52%
        text-transform: uppercase
        font-family: 'Gotham Medium'
        font-size: 1.4rem
        margin-left: .8rem
        font-weight: 500
        opacity: 0
        cursor: pointer
        @include responsive(tablet)
            display: none
        &--hover
            opacity: 1
        &:active
        &:focus
            outline: none





