.autopilot
    &__video
        height: 100%
        width: 100%
        object-fit: cover

    /* Full Page Container */
    // .fp-tableCell
    //     display: flex
    //     height: unset
    //     vertical-align: unset
