.autopilot
    &__video
        height: 100%
        width: 100%
        object-fit: cover
        transition: all .5s ease

    &__contentElement
        @include responsive(phone)
            height: 60vh !important
        @include responsive(phone-landscape)
            height: 100vh !important

    &__infoElementsContainer
        display: flex
        flex-direction: column
        position: absolute
        top: 25%
        left: 8%
        height: 55%
        justify-content: space-between
        @include responsive(tablet)
            flex-direction: row
            text-align: center
            height: unset
            width: 60%
            margin: 0 auto
            top: unset
            bottom: 10%
            left: 50%
            transform: translateX(-50%)
        @include responsive(800)
            width: 70%
        @include responsive(800)
            width: 80%
        @include responsive(phone)
            width: 100%

    &__smallTitle
        &--3
            width: 20%

    &__subtitle
        margin-top: 1rem
        width: 70%
        margin: 0

    &__infoElements
        @include responsive(tablet)
            flex: unset !important
        @include responsive(phone)
            flex: .33 !important
        &--1
            animation: translateYOpacityShow .6s .6s forwards ease
        &--2
            animation: translateYOpacityShow .6s .8s forwards ease
        &--3
            animation: translateYOpacityShow .6s 1s forwards ease

    /* Learn More Section */
    &__learnMoreContainer
        min-height: 360vh

    &__learnMoreInnerContainer
        padding-top: 8rem
        position: relative
        @include responsive(phone)
            padding-top: 3rem

        &::before
            content: ''
            position: absolute
            width: 100vw
            height: 30rem
            background: linear-gradient(180deg, rgba(244,244,244,.5) 0%, rgba(255,255,255,.5) 100%)
            top: 0
            left: 0
            z-index: 1000

    &__learnMoreTitleContainer
        &--1
            width: 35% !important
            z-index: 1000
            position: relative
            @include responsive(2200)
                width: 40% !important
            @include responsive(1920)
                width: 50% !important
            @include responsive(1700)
                width: 55% !important
            @include responsive(1600)
                width: 60% !important
            @include responsive(1366)
                width: 65% !important
            @include responsive(1100)
                width: 70% !important
            @include responsive(900)
                width: 85% !important
            @include responsive(800)
                width: 50% !important
            @include responsive(phone-landscape)
                width: 55% !important
            @include responsive(phone)
                width: 80% !important
            @include responsive(414-portrait)
                width: 90% !important

        &--fullSelfDrive
            width: 35% !important
            z-index: 1000
            position: relative
            @include responsive(2200)
                width: 20% !important
                margin: 0 50% 0 auto !important
            @include responsive(1920)
                width: 25% !important
                margin-right: 45% !important
            @include responsive(1700)
                width: 30% !important
            @include responsive(1600)
                width: 25% !important
                margin-right: 50% !important
            @include responsive(1366)
                width: 30% !important
                margin-right: 50% !important
            @include responsive(1200)
                width: 35% !important
                margin-right: 50% !important
            @include responsive(1100)
                width: 40% !important
            @include responsive(800)
                margin: 0 auto !important
                width: 55% !important
            @include responsive(phone-landscape)
                margin: 0 auto !important
                width: 55% !important
            @include responsive(phone)
                width: 70% !important
            @include responsive(414-portrait)
                width: 85% !important

    &__learnMoreParagraph
        &--1
            width: 65% !important
            @include responsive(1280)
                width: 80% !important
            @include responsive(phone-landscape)
                width: 100% !important
            @include responsive(800)
                width: 100% !important

    &__learnMoreContentContainer
        position: relative
        width: 100vw
        opacity: 0
        margin: 0 auto
        animation: translateYOpacityShow 1s 1s ease forwards

        &--features
            margin: -12rem auto 0
            @include responsive(1920)
                margin-top: -10rem
            @include responsive(800)
                margin-top: 0

        &--fullSelfDrive
            margin: -9rem auto 0
            @include responsive(2200)
                margin-top: -7rem
            @include responsive(1100)
                margin-top: 0
                margin-bottom: 20rem
            @include responsive(900)
                margin-top: 10rem
            @include responsive(800)
                margin-top: 0
                margin-bottom: 0
            @include responsive(phone-landscape)
                margin-top: -5rem
                margin-bottom: -5rem
            @include responsive(phone)
                margin: 3rem  0
            @include responsive(414-portrait)
                margin: 8rem  0

    &__learnMoreContentContainerInner
        width: 50%
        display: flex
        overflow: hidden
        margin: 0 auto
        position: relative
        @include responsive(1920)
            width: 60%
        @include responsive(1700)
            width: 70%
        @include responsive(1600)
            width: 85%
        @include responsive(1366)
            width: 95%
        @include responsive(1100)
            width: 150%
        @include responsive(800)
            width: 85%
        @include responsive(phone-landscape)
            width: 85% !important
            margin-top: 5rem
        @include responsive(phone)
            width: 100%

        &--fullSelfDrive
            width: 100%

    &__learnMoreButtonsContainer
        position: relative
        display: flex
        width: 35%
        overflow: hidden
        margin: 0 auto
        height: 25vh
        margin-bottom: 5rem
        margin-top: -12rem
        opacity: 0
        animation: translateYOpacityShow 1s 1.5s ease forwards
        @include responsive(1920)
            width: 50%
            margin-top: -12rem
            margin-bottom: 10rem
        @include responsive(1700)
            height: 33vh
            width: 55%
        @include responsive(1600)
            margin-top: -15rem
        @include responsive(1366)
            width: 70%
        @include responsive(1280)
            height: 25vh
        @include responsive(1200)
            margin-top: -20rem
        @include responsive(1100)
            width: 95%
            margin-top: -15rem
        @include responsive(900)
            width: 99%
        @include responsive(800)
            margin-top: -5rem
            width: 80%
        @include responsive(phone-landscape)
            height: 55vh
            margin-top: 0
            margin-bottom: 0
        @include responsive(phone)
            width: 95%
            margin-top: 0
            height: 25vh
        @include responsive(smallphone-landscape)
            height: 58vh
        @include responsive(414-portrait)
            margin-bottom: 0
        @include responsive(375-portrait)
            height: 30vh
        @include responsive(smallphone-portrait)
            height: 32vh

    &__learnMoreButtonsContainerInner
        display: flex
        position: absolute
        margin: 0 auto
        left: 0
        transition: all .5s ease

    &__videoButtonElement
        @include responsive(900)
            flex: .23
        @include responsive(800)
            flex: .25

    &__learnMoreVideotextInfoContainer
        align-self: flex-start
        @include responsive(phone)
            order: 2 !important
            margin-top: 1rem
            margin-bottom: 0 !important

    &__learnMoreVideotextVideoInner
        @include responsive(phone)
            order: 1 !important

    &__backgroundImage
        position: absolute
        top: 0
        z-index: 9
        width: 100%
        @include responsive(1100)
            transform: scale(1.3)
        @include responsive(900)
            transform: scale(1.6)
        @include responsive(800)
            transform: scale(.8)
        @include responsive(phone-landscape)
            transform: scale(.8)
        @include responsive(phone)
            transform: scale(1)
        @include responsive(414-portrait)
            transform: scale(1.4)
        @include responsive(375-portrait)
            transform: scale(1.5)

    &__frontImage
        position: relative
        width: 100%
        height: 100%
        z-index: 10
        opacity: 0
        transition: all .5s ease
        animation: scaleOpacity 1s 1s ease forwards
        @include responsive(1100)
            transform: scale(1.3) !important
        @include responsive(900)
            transform: scale(1.6) !important
        @include responsive(800)
            transform: scale(.8) !important
        @include responsive(phone-landscape)
            transform: scale(.8) !important
        @include responsive(phone)
            transform: scale(1) !important
        @include responsive(414-portrait)
            transform: scale(1.4) !important
        @include responsive(375-portrait)
            transform: scale(1.5) !important

    &__greenBackground
        position: absolute
        top: 0
        z-index: 11
        width: 100%
        opacity: 0
        // display: none
        @include responsive(414-portrait)
            // display: block
            opacity: 1

    @keyframes scaleOpacity
        0%
            opacity: 0
            transform: scale(0)

        100%
            opacity: 1
            transform: scale(1)

    &__driverInner
        opacity: 0
        &--active
            animation: translateYOpacityShow 1s ease forwards
