.firstSection
    background-position: center !important
    background-repeat: no-repeat !important
    background-size: cover !important
    height: 100vh
    @include responsive(1366)
        background-position: center -70rem !important
    @include responsive(1200)
        background-position: center -40rem !important

    @include responsive(tablet-landscape)
        background-position: center -50rem !important
    @include responsive(tablet-portrait)
        background-position: center -20rem !important

    @include responsive(phone)
        background-position: center !important

    @include responsive(smallphone-landscape)
        height: 120vh
        background-position: center -30rem !important

    .fp-tableCell
        vertical-align: top
        display: flex
        justify-content: center

    &__content
        text-align: center
        margin-top: 8%
        margin-bottom: 5.5%
        font-family: 'Gotham Medium'
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        @include responsive(phone)
            margin-top: 10%
        @include responsive(smallphone-portrait)
            margin-top: 20%

    &__characteristics
        display: flex
        align-items: baseline
        position: relative
        flex-wrap: wrap
        justify-content: center
        @include responsive(tablet-portrait)
            margin-bottom: 5rem
        @include responsive(phone)
            margin-bottom: 10rem
        @include responsive(smallphone-portrait)
            margin-bottom: 5rem
            justify-content: unset
        @include responsive(smallphone-landscape)
            margin-bottom: 1rem

    &__title
        font-size: 4rem
        color: white
        font-weight: 500
        opacity: 0

    &__button
        background: none
        border: 3px solid black
        padding: 1rem 4rem
        border-radius: 5rem
        cursor: pointer
        text-transform: uppercase
        align-self: center
        font-size: 1.2rem
        font-weight: 400
        font-family: 'Gotham Medium'
        color: black
        transition: all .3s ease-in-out
        opacity: 0
        &:active,
        &:focus
            outline: none
        &:hover
            color: white
            background-color: black

    &__icon
        font-size: 4rem !important
        animation: arrowAnimation 2s infinite
        flex-basis: 100%
        color: white
        position: absolute
        bottom: 2%
        left: 49%
        opacity: 0
        @include responsive(tablet)
            left: unset
