.infoElement
    box-sizing: content-box
    position: relative
    padding: 0 3.5rem 0 3.5rem
    opacity: 0
    @include responsive(phone)
        padding: 0 1.5rem 0 1.5rem
    @include responsive(smallphone-portrait)
        padding: 1rem 1rem 0 1rem
    @include responsive(smallphone-landscape)
        padding: 1rem 4.2rem

    &--animationOff
        animation: none !important
        opacity: 1 !important

    &--smaller
        @include responsive(smallphone-portrait)
            padding: .8rem .8rem 0
            &:last-child
                padding-right: 0

    &--show
        opacity: 1 !important
        animation: none !important
    svg
        width: 50px
        height: 50px
        display: inline-block
        margin-right: 1rem
        margin-top: -5rem
        @include responsive(phone)
            width: 35px
            height: 35px

    &__duration
        display: inline-block
        font-size: 2.8rem
        font-weight: 500
        @include responsive(phone)
            font-size: 2rem

    &__from
        font-size: 1.2rem
        font-family: 'Gotham Book'
        line-height: 1.5
        @include responsive(phone)
            font-size: 1rem
        @include responsive(smallphone-portrait)
            width: 100%
            font-size: 1.2rem
            margin: 0 auto
        &--smaller
            @include responsive(smallphone-portrait)
                width: 100%

    &__line
        position: absolute
        width: 1px
        height: 7.5rem
        background-color: black
        top: 0
        right: 0
        opacity: .9
        @include responsive(phone)
            height: 6rem
        @include responsive(smallphone-portrait)
            height: 7rem
        &--white
            background-color: white
