.infoElement
    position: relative
    opacity: 0
    padding: 0 3rem
    display: flex
    flex-direction: column
    @include responsive(tablet)
        flex: .33
        align-items: center
    @include responsive(phone)
        margin-bottom: 2rem
    @include responsive(500)
        padding: 0 2rem
        flex: unset
    @include responsive(414-portrait)
        padding: 0 1.5rem
    @include responsive(375-portrait)
        margin-bottom: 0
        padding: 0 .5rem
    @include responsive(smallphone-portrait)
        padding: 0
        flex: .33

    &--show
        opacity: 1 !important
        animation: none !important

    &--white
        color: white

    &__titleContainer
        display: flex
        @include responsive(phone)
            align-self: center

        &--align
            align-items: flex-end

    svg
        width: 5rem
        height: 5rem
        margin-top: -2rem
        margin-right: 1rem
        @include responsive(phone)
            width: 3.5rem
            height: 3.5rem
            margin-right: 0
            margin-top: -1.5rem

    &__icon
        width: 4rem
        height: 4rem
        margin-right: 1rem
        @include responsive(phone)
            width: 3rem
            height: 3rem

    &__title
        font-size: 2.8rem
        font-weight: 500
        @include responsive(phone)
            font-size: 2rem

    &__smallTitle
        &--white
            color: white

    &__subtitle
        font-size: 1.2rem
        font-family: 'Gotham Book'
        line-height: 1.5
        margin: 0 auto
        @include responsive(phone)
            font-size: 1rem
        @include responsive(smallphone-portrait)
            font-size: 1.2rem

    &__line
        position: absolute
        width: 1px
        height: 7.5rem
        background-color: black
        top: 0
        right: 0
        opacity: .9
        @include responsive(phone)
            height: 6rem
            top: -20%
        @include responsive(smallphone-portrait)
            height: 9rem

        &--white
            background-color: white

        &--bottom
            top: unset
            right: unset
            left: 6%
            bottom: -50%
            height: 1px
            width: 7.5rem
