.perfomance
    /* Initial Element */
    &__backgroundImage
        position: absolute
        max-height: 100%
        object-fit: cover
        object-position: center
        min-width: 100%
        @include responsive(1600)
            min-height: 100%
            max-width: 100%

    &__infoElementsContainer
        display: flex
        width: 42%
        justify-content: center
        position: absolute
        bottom: 8%
        left: 50%
        transform: translateX(-50%)
        right: 4%
        color: white !important
        @include responsive(2200)
            width: 53%
        @include responsive(1920)
            width: 64%
        @include responsive(1366)
            width: 70%
        @include responsive(1280)
            width: 80%
        @include responsive(tablet)
            width: 100%
            bottom: 15%
            text-align: center
        @include responsive(500)
            bottom: 5%
            left: 47%
        @include responsive(smallphone-portrait)
            bottom: 10%
            left: 48%
            flex-wrap: wrap

        @include responsive(smallphone-landscape)
            padding-left: 0

    &__contentElement
        @include responsive(phone)
            height: 60vh !important
        @include responsive(smallphone-landscape)
            height: 100vh !important

    &__sideInnerContainer
        @include responsive(1200)
            width: 85% !important
            padding-top: 3rem
        @include responsive(tablet)
            padding-top: unset
            width: 100% !important

    &__title
        @include responsive(1366)
            width: 80%

    &__subtitle
        &--1
            @include responsive(tablet)
                width: 41%
            @include responsive(800)
                width: 50%
            @include responsive(700)
                width: 60%
        &--2
            width: 100% !important
            padding-left: 1.5rem
            @include responsive(phone)
                padding-left: 0
        &--3
            @include responsive(tablet)
                width: 50%

    &__infoElements
        @include responsive(tablet)
            flex: .33 !important
            align-items: center !important
        &--1
            animation: translateYOpacityShow .6s .6s forwards ease
        &--2
            animation: translateYOpacityShow .6s .8s forwards ease
        &--3
            animation: translateYOpacityShow .6s 1s forwards ease

    &__infoTitle
        &--2
            width: 1rem
            margin-right: 4rem
            @include responsive(phone)
                margin-left: 1rem

    /* LearnMore Added Element */
    &__learnMoreContainer
        overflow: hidden
        padding-bottom: 10rem
        @include responsive(1920)
            padding-bottom: 6rem

    &__learnMoreInner
        padding: 8rem 0 3rem
        background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 30%)
        margin: 8rem auto 0
        @include responsive(phone-landscape)
            margin-top: 0
            padding-top: 7rem
        @include responsive(phone)
            margin-top: 0
        @include responsive(smallphone-portrait)
            padding-top: 5rem

    &__titleContainer
        &--1
            margin-bottom: 5rem !important

    &__sliderButtons
        margin-top: 0 !important
        width: 50% !important
        @include responsive(1600)
            width: 60% !important
        @include responsive(1450)
            width: 70% !important
        @include responsive(1100)
            width: 86% !important
        @include responsive(900)
            width: 99% !important
        @include responsive(800)
            width: 85% !important
        @include responsive(phone-landscape)
            margin-top: 5rem !important
        @include responsive(phone)
            margin-top: 5rem !important
            width: 95% !important

        @include responsive(414-portrait)
            margin-top: 0 !important

    &__slider
        margin-bottom: 15rem !important

    &__videoTextContainerTitle
        width: 60%
        @include responsive(1920)
            width: 80%
        @include responsive(1200)
            width: 90%
        @include responsive(1100)
            width: 100%
        @include responsive(900)
            width: 60%
