.range
    &__container
        display: flex
        @include responsive(1200)
            flex-wrap: wrap
    &__video
        height: 100%
        width: 100%
        object-fit: cover

    &__infoElementsContainer
        position: absolute
        bottom: 7%
        left: 30%
        display: flex
        color: white !important
        width: 38%
        @include responsive(2200)
            left: 25%
            width: 48%
        @include responsive(1920)
            left: 20%
            width: 60%
        @include responsive(1700)
            width: 75%
            left: 15%
        @include responsive(1366)
            left: 5%
            width: 90%
            bottom: 10%
        @include responsive(1280)
            width: 100%
            left: 2%
        @include responsive(1200)
            width: 75%
            left: 13%
        @include responsive(tablet)
            text-align: center
            left: 0
            width: 100%

    &__subtitle
        &--2
            @include responsive(tablet)
                width: 20%
            @include responsive(1000)
                width: 25%
            @include responsive(900)
                width: 30%
            @include responsive(800)
                width: 40%
            @include responsive(phone)
                width: 45%
            @include responsive(500)
                width: 48%
            @include responsive(smallphone-portrait)
                width: 55%

    &__sideComponent
        padding: 4rem 2rem 6rem 2rem

    &__sideInnerContainer
        @include responsive(1200)
            width: 100% !important

    &__infoElements
        @include responsive(tablet)
            flex: .33 !important
            align-items: center !important
        &--1
            animation: translateYOpacityShow .6s .6s forwards ease
        &--2
            animation: translateYOpacityShow .6s .8s forwards ease
        &--3
            animation: translateYOpacityShow .6s 1s forwards ease

    /* Learn More Section */
    &__learnMoreContainer
        padding-bottom: 15rem
        @include responsive(phone-landscape)
            padding-bottom: 8rem
        @include responsive(500)
            padding-bottom: 10rem

    &__learnMoreInnerContainer
        padding-top: 8rem
        background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 30%)

    &__learnMoreTitleContainer
        &--1
            margin-bottom: 5rem !important
            width: 30% !important
            @include responsive(2200)
                width: 40% !important
            @include responsive(1280)
                width: 70% !important
            @include responsive(1200)
                width: 80% !important
            @include responsive(800)
                width: 50% !important
                margin: 0 auto
            @include responsive(phone-landscape)
                width: 50% !important
                margin: 0 auto
            @include responsive(700)
                width: 70% !important
        &--2
            margin-top: 10rem !important
            margin-bottom: 5rem !important
            width: 30% !important
            @include responsive(2200)
                width: 40% !important
            @include responsive(1280)
                width: 70% !important
            @include responsive(1200)
                width: 80% !important
            @include responsive(phone-landscape)
                width: 50% !important
                margin: 0 auto
            @include responsive(700)
                width: 70% !important
        &--3
            margin: 5rem 5% 2rem auto !important
            width: 50% !important
            @include responsive(1700)
                width: 55% !important
            @include responsive(1280)
                width: 60% !important
            @include responsive(800)
                width: 50% !important
                margin: 0 auto !important
            @include responsive(phone-landscape)
                width: 80% !important
                margin: 0 auto
            @include responsive(700)
                width: 70% !important

    &__learnMoreParagraph
        &--1
            width: 70% !important
            @include responsive(1280)
                width: 50% !important
            @include responsive(tablet)
                width: 60% !important
            @include responsive(800)
                width: 100% !important
            @include responsive(phone-landscape)
                width: 100% !important
        &--2
            width: 90% !important
            @include responsive(phone-landscape)
                width: 100% !important
        &--3
            width: 41% !important
            @include responsive(2200)
                width: 60% !important
            @include responsive(1600)
                width: 65% !important
            @include responsive(1366)
                width: 75% !important
            @include responsive(1100)
                width: 85% !important
            @include responsive(800)
                width: 100% !important
            @include responsive(phone-landscape)
                width: 80% !important

    &__learnMoreContentContainer
        position: relative
        width: 50%
        margin: 3rem auto 0 auto
        opacity: 0
        @include responsive(2200)
            width: 60%
        @include responsive(1920)
            width: 65%
        @include responsive(1700)
            width: 75%
        @include responsive(1450)
            width: 90%
        @include responsive(1280)
            width: 99%
        @include responsive(phone-landscape)
            width: 80%

        &--map
            animation: translateYOpacityShow 1s 1.5s ease forwards
            pointer-events: none
            @include responsive(800)
                width: 70%
            @include responsive(phone-landscape)
                width: 70%
            @include responsive(700)
                width: 80%
            @include responsive(phone)
                width: 100%

    /* Supercharger */
    &__learnMoreMapInner
        width: 100%
        height: 50vh
        opacity: 0
        animation: translateYOpacityShowFromTop .5s .5s ease forwards
        @include responsive(800)
            height: 40vh
        @include responsive(phone-landscape)
            height: 70vh
        @include responsive(414-portrait)
            height: 40vh

    &__learnMoreMapInfoContainer
        display: flex
        justify-content: space-between
        width: 90%
        margin: 3rem auto 0
        @include responsive(2200)
            width: 80%
        @include responsive(1920)
            width: 75%
        @include responsive(1700)
            width: 65%
        @include responsive(1450)
            width: 50%
        @include responsive(900)
            width: 60%
        @include responsive(800)
            width: 80%
        @include responsive(375-portrait)
            width: 90%

    &__learnMoreMapInfo
        color: #171a20
        font-family: 'Gotham Medium'
        font-size: 2.8rem
        height: 22rem
        padding: 2rem
        justify-content: space-between
        border: 2px solid black
        display: flex
        flex-direction: column
        margin-top: -15rem
        z-index: 1000
        @include responsive(1600)
            font-size: 2.6rem
            padding: 1.5rem
            height: 20rem
        @include responsive(800)
            font-size: 1rem
            height: 12rem
            margin-top: -10rem
            padding: 1rem
        @include responsive(phone-landscape)
            font-size: 1rem
            height: 12rem
            margin-top: -10rem
            padding: 1rem

    &__learnMoreMapInfoTitle
        font-size: 2.6rem
        display: block

    &__learnMoreMapButton
        padding: .5rem 4rem
        @include responsive(800)
            margin-top: -1rem
        @include responsive(phone-landscape)
            margin-top: -2rem

        @include responsive(375-portrait)
            padding: 1rem 3rem
            margin-top: -2rem
