.range
    &__container
        display: flex
        @include responsive(1200)
            flex-wrap: wrap
    &__video
        height: 100%
        width: 100%
        object-fit: cover

    &__infoElementsContainer
        position: absolute
        bottom: 7%
        left: 30%
        display: flex
        color: white !important
        width: 38%
        @include responsive(2200)
            left: 25%
            width: 48%
        @include responsive(1920)
            left: 20%
            width: 60%
        @include responsive(1700)
            width: 75%
            left: 15%
        @include responsive(1366)
            left: 5%
            width: 90%
            bottom: 10%
        @include responsive(1280)
            width: 100%
            left: 2%
        @include responsive(1200)
            width: 75%
            left: 13%
        @include responsive(tablet)
            text-align: center
            left: 0
            width: 100%

    &__subtitle
        &--2
            @include responsive(tablet)
                width: 20%
            @include responsive(1000)
                width: 25%
            @include responsive(900)
                width: 30%
            @include responsive(800)
                width: 40%
            @include responsive(phone)
                width: 45%
            @include responsive(500)
                width: 48%
            @include responsive(smallphone-portrait)
                width: 55%

    &__sideComponent
        padding: 4rem 2rem 6rem 2rem

    &__sideInnerContainer
        @include responsive(1200)
            width: 100% !important

    &__infoElements
        @include responsive(tablet)
            flex: .33 !important
            align-items: center !important
        &--1
            animation: translateYOpacityShow .6s .6s forwards ease
        &--2
            animation: translateYOpacityShow .6s .8s forwards ease
        &--3
            animation: translateYOpacityShow .6s 1s forwards ease

    /* Learn More Section */
    &__learnMoreContainer
        padding-bottom: 10rem

    &__learnMoreInnerContainer
        padding-top: 8rem
        background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 30%)

    &__learnMoreTitleContainer
        &--1
            width: 70% !important
        &--2
            width: 70% !important
        &--3
            margin: 0 !important
            margin-left: auto !important
            width: 60% !important

    &__learnMoreParagraph
        &--1
            width: 50% !important
        &--2
            width: 90% !important
        &--3
            width: 65% !important

    &__learnMoreAnimationElementsContainer
        position: relative
        width: 60vw
        height: 60vh
        margin: 5rem auto 0 auto
        @include responsive(1280)
            width: 95vw

    &__learnMoreMapContainer
        height: 80vh
        width: 90vw
        margin: 7rem auto 0
        pointer-events: none

    &__learnMoreMapInner
        width: 100%
        height: 100%
        opacity: 0
        animation: translateYOpacityShowFromTop .5s .5s ease forwards

    &__videoButtonsContainer
        position: relative
        width: 60vw
        overflow: hidden
        height: 30vh
        margin: 0 auto

    &__videoButtonsInner
        display: flex
        position: absolute
        height: 50vh
        width: 100vw
        margin: 0 auto
        left: 0
        transition: all .5s ease

    &__image
        max-height: 100%
        width: 100%
        object-fit: contain

    &__learnMoreChargingButtons
        display: flex
        width: 70%
        margin: 0 auto
