.safety
    /* Initial Element */
    &__container
        display: flex
        @include responsive(ipadPro-portrait)
            flex-wrap: wrap
            flex-direction: column
        @include responsive(tablet)
            flex-wrap: wrap
            flex-direction: column

    &__sideComponent
        padding: 7rem 2rem 7rem 5rem
        @include responsive(2560)
            padding: 6rem 2rem 6rem 5rem
        @include responsive(2200)
            padding: 5rem 2rem 5rem 4rem
        @include responsive(1600)
            padding: 6rem 2rem 5rem 4rem
        @include responsive(tablet)
            order: 2

    &__paragraph
        @include responsive(1366)
            margin-top: 8rem !important
        @include responsive(tablet)
            margin-top: 0 !important
        @include responsive(700)
            margin-top: 1rem !important

    &__image
        min-height: 100%
        max-width: 100%
        object-fit: contain
    &__contentElement
        background-color: #F4F4F4 !important
        @include responsive(phone)
            height: unset !important

    &__safetyanimatedElements
        &__element
            &--1
                top: 20%
                left: 18%
                @include responsive(1600)
                    left: 30%
                    top: 24%
                @include responsive(1366)
                    top: 30%
                @include responsive(tablet)
                    top: 10%

                @include responsive(800)
                    top: 15%
                @include responsive(phone)
                    top: 20%
                @include responsive(375-portrait)
                    left: 40%
            &--2
                top: 8%
                left: 40%
                right: unset
                @include responsive(2200)
                    top: 14%
                @include responsive(1600)
                    left: 50%
                @include responsive(1366)
                    top: 10%
                @include responsive(ipadPro-landscape)
                    top: 20%
                @include responsive(1280)
                    top: 22%
                @include responsive(tablet)
                    top: 10%
                @include responsive(ipadPro-portrait)
                    top: 25%
                @include responsive(phone-landscape)
                    top: 24%
                @include responsive(800)
                    top: 10%
                @include responsive(phone-landscape)
                    top: 10%
                @include responsive(phone)
                    top: 10%
                    left: unset
                    right: 10%
                @include responsive(375-portrait)
                    right: -5%
                    top: 15%
            &--3
                bottom: 20%
                right: unset
                left: 50%
                @include responsive(1600)
                    bottom: 12%
                @include responsive(1366)
                    bottom: 20%
                @include responsive(ipadPro-landscape)
                    bottom: 30%
                @include responsive(1280)
                    bottom: 27%
                @include responsive(tablet)
                    bottom: 15%
                @include responsive(ipadPro-portrait)
                    bottom: 23%
                @include responsive(800)
                    bottom: 15%
                @include responsive(phone-landscape)
                    bottom: 5%

                @include responsive(phone)
                    bottom: 15%
                    left: unset
                    right: 15%

        &__line
            &--1
                width: 4px
                top: 1rem
                left: -1rem
                right: unset
                height: 50rem
                animation: showstickScaleY .7s .2s forwards ease-in-out
                @include responsive(1600)
                    height: 25rem
                    width: 2px
                @include responsive(1366)
                    height: 20rem
                @include responsive(phone-landscape)
                    height: 14rem

            &--2
                width: 4px
                top: 1rem
                left: -1rem
                height: 30rem
                right: unset
                animation: showstickScaleY .7s .2s forwards ease-in-out
                @include responsive(1600)
                    height: 15rem
                    width: 2px
                @include responsive(phone-landscape)
                    height: 10rem

            &--3
                width: 4px
                bottom: 0
                left: -1rem
                right: unset
                height: 25rem
                animation: showstickScaleY .7s .2s forwards ease-in-out
                @include responsive(1600)
                    width: 2px
                @include responsive(1366)
                    height: 15rem
                @include responsive(phone-landscape)
                    height: 12rem
                @include responsive(375-portrait)
                    right: 1rem
                    left: unset

        &__dot
            &--1
                width: 1.1rem
                height: 1.1rem
                top: 50rem
                right: unset
                left: -1.3rem
                animation: showdot .8s .8s forwards ease
                @include responsive(1600)
                    top: 26rem
                    width: .8rem
                    height: .8rem
                @include responsive(1366)
                    top: 20.2rem
                @include responsive(phone-landscape)
                    top: 15rem

            &--2
                width: 1.1rem
                height: 1.1rem
                top: 30rem
                left: -1.3rem
                right: unset
                animation: showdot .8s .8s forwards ease
                @include responsive(1600)
                    top: 15.2rem
                    width: .8rem
                    height: .8rem
                @include responsive(1366)
                    top: 15.2rem
                @include responsive(phone-landscape)
                    top: 10.2rem

            &--3
                width: 1.1rem
                height: 1.1rem
                bottom: 25rem
                left: -1.3rem
                right: unset
                animation: showdot .8s .8s forwards ease
                @include responsive(1600)
                    width: .8rem
                    height: .8rem
                @include responsive(1366)
                    bottom: 15rem
                @include responsive(phone-landscape)
                    bottom: 12rem
                @include responsive(375-portrait)
                    right: .7rem
                    left: unset
        &__title
            &--1
                animation: translateYOpacityShow .8s .5s forwards ease
            &--2
                animation: translateYOpacityShow .8s .5s forwards ease
            &--3
                animation: translateYOpacityShow .8s .5s forwards ease

    /* LearnMore Added Element */
    &__learnMoreContainer
        height: 75vh
        @include responsive(2200)
            height: 85vh
        @include responsive(1920)
            height: 90vh
        @include responsive(1600)
            height: 130vh
        @include responsive(1280)
            height: 105vh
        @include responsive(tablet)
            height: unset
            padding-bottom: 5rem

    &__learnMoreTitle
        @include responsive(phone-landscape)
            font-size: 3rem

    &__learnMoreInnerContainer
        padding: 7rem 0
        background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 35%)
        position: relative
        @include responsive(950)
            padding: 3rem 0

    &__learnMoreTopContainer
        margin: 0 auto
        width: 30%
        @include responsive(1280)
            width: 40%
        @include responsive(phone-landscape)
            width: 65%
        @include responsive(phone)
            width: 80%

    &__learnMoreImage
        object-fit: contain
        width: 50%
        margin: 10rem auto
        display: block
        opacity: 0
        animation: translateYOpacityShow .6s .4s forwards ease
        @include responsive(2200)
            width: 80%
        @include responsive(1600)
            width: 100%
        @include responsive(950)
            margin: 8rem auto
        @include responsive(tablet)
            width: 150%
            margin-left: -25rem
        @include responsive(tablet-portrait)
            width: 100%
            margin-left: 0
        @include responsive(ipadPro-portrait)
            width: 100%
            margin-left: 0
        @include responsive(phone-landscape)
            width: 100%
            margin-left: 0
        @include responsive(414-portrait)
            margin-top: 3rem

    &__learnMoreParagraph
        width: 40%
        @include responsive(2200)
            width: 70%
        @include responsive(1600)
            width: 100%
        @include responsive(phone-landscape)
            width: 90%

    /* Small screens only */
    &__numbersContainer
        position: relative
        opacity: 0
        animation: translateYOpacityShow .6s .4s forwards ease

    &__numberDescriptionContainer
        width: 50%
        margin: 0 auto
        position: relative
        margin-bottom: 4rem
        opacity: 0
        animation: translateYOpacityShow .6s .6s forwards ease

        @include responsive(phone)
            width: 60%

    &__numberDescriptionNumber
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: 0
        left: -2.5rem
        font-family: 'Gotham Book'
        font-size: 1.4rem
        font-weight: 400
        background-color: #393c41
        width: 2rem
        height: 2rem
        border-radius: 100%
        color: white
        &--1
            left: 15%
            top: -40rem
            @include responsive(ipadPro-portrait)
                top: -25rem
                left: 25%

            @include responsive(phone-landscape)
                top: -24rem
                left: 24%
            @include responsive(800)
                top: -20rem
            @include responsive(phone)
                top: -17rem
            @include responsive(414-portrait)
                top: -15rem
            @include responsive(smallphone-portrait)
                top: -13rem

        &--2
            top: -32rem
            left: 35%
            @include responsive(ipadPro-portrait)
                top: -30rem
                left: 40%
            @include responsive(phone-landscape)
                top: -25rem
                left: 40%
            @include responsive(800)
                top: -20rem
            @include responsive(phone)
                top: -18rem
            @include responsive(smallphone-portrait)
                top: -16rem
            @include responsive(smallphone-landscape)
                top: -24rem

        &--3
            top: -40rem
            left: 60%
            @include responsive(ipadPro-portrait)
                top: -30rem
            @include responsive(800)
                top: -25rem
            @include responsive(phone-landscape)
                top: -25rem
            @include responsive(phone)
                top: -18rem
                left: 65%
            @include responsive(smallphone-portrait)
                top: -15rem

    &__numberDescriptionTitle
        font-size: 1.4rem
        font-weight: 500
        color: #393c41
        font-family: 'Gotham Bold'
        font-weight: 700

    &__numberDescriptionText
        margin-top: .5rem
        font-family: 'Gotham Book'
        font-size: 1.5rem
        color: #393c41
        line-height: 1.5
        font-weight: 500

    &__learnMoreAnimatedElements
        &__element
            &--1
                bottom: 20%
                left: 34%
                @include responsive(2200)
                    left: 30%
                @include responsive(1920)
                    left: 25%
                @include responsive(1280)
                    left: 20%
                @include responsive(tablet)
                    left: 15%
            &--2
                bottom: 20%
                left: 46%
                @include responsive(2200)
                    left: 43%
                @include responsive(1920)
                    left: 40%
                @include responsive(1600)
                    left: 45%
                @include responsive(1280)
                    left: 44%
            &--3
                bottom: 20%
                right: 35%
                @include responsive(1920)
                    right: 32%
                @include responsive(1600)
                    right: 25%
                @include responsive(1366)
                    right: 20%
                @include responsive(1280)
                    right: 18%
                @include responsive(1100)
                    right: 13%
                @include responsive(1024)
                    right: 10%

        &__line
            &--1
                bottom: -17rem
                left: -1rem
                height: 35rem
                animation: showstickScaleYTop .7s .4s forwards ease-in-out
                @include responsive(1366)
                    height: 43rem
                @include responsive(1280)
                    height: 40rem
                @include responsive(1100)
                    height: 35rem
            &--2
                bottom: -17rem
                left: -1rem
                height: 43rem
                animation: showstickScaleYTop .7s .6s forwards ease-in-out
                @include responsive(1280)
                    height: 52rem
                @include responsive(1100)
                    height: 35rem
            &--3
                bottom: -17rem
                height: 35rem
                left: -1rem
                animation: showstickScaleYTop .7s .8s forwards ease-in-out

        &__dot
            &--1
                bottom: 17rem
                left: -1.3rem
                animation: showdot .8s .2s forwards ease
                @include responsive(1366)
                    bottom: 26rem
                @include responsive(1280)
                    bottom: 23rem
                @include responsive(1100)
                    bottom: 18rem
            &--2
                bottom: 26rem
                left: -1.3rem
                animation: showdot .8s .2s forwards ease
                @include responsive(1280)
                    bottom: 35rem
                @include responsive(1100)
                    bottom: 18rem
            &--3
                bottom: 18rem
                left: -1.3rem
                animation: showdot .8s .2s forwards ease

    /* Fullpage.js adjustment */
    .fp-tableCell
        vertical-align: top
        height: 100vh
        @include responsive(tablet)
            height: unset
