.safety        
    /* Initial Element */
    &__container
        display: flex
    
    &__topContainer
        opacity: 0
        animation: translateYOpacityShow .6s .4s forwards ease
        &--show
            opacity: 1
            animation: none
    
    &__left
        flex: .25
        background-color: white
        box-sizing: border-box
        padding: 3% 0 0 3.5% 
        height: 100vh
        display: flex
        flex-direction: column

    &__bottomContainer
        margin: auto 0 6rem 0
        display: flex
        align-items: center
        opacity: 0
        animation: translateYOpacityShow .6s .5s forwards ease
        &--show
            opacity: 1
            animation: none

    &__right
        flex: .75
        background-color: #F4F4F4 !important
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 100% !important
        height: 100vh;
        position: relative
    
    /* LearnMore Added Element */
    &__learnMoreContainer
        height: 130vh
    &__learnMoreInnerContainer
        padding-top: 7rem
        background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 35%);
        position: relative
    &__learnMoreTopContainer
        margin: 0 auto
        width: 55%
    
    &__learnMoreImage
        object-fit: contain
        width: 100%
        margin-top: 7rem

    /* Fullpage.js adjustment */
    .fp-tableCell
        vertical-align: top
