.videoButtonElement
    margin-top: 3rem
    position: relative
    width: 40rem
    height: 20rem
    margin-right: 2rem
    transition: all .5s ease

    @include responsive(1280)
        height: 16rem
    @include responsive(tablet-portrait)
        width: 20rem
        height: 25rem
    @include responsive(ipadPro-portrait)
        width: 40rem
    @include responsive(phone-landscape)
        width: 20rem
        height: 25rem
        margin-top: 7rem
    @include responsive(smallphone-portrait)
        width: 20rem

    &--smaller
        margin-top: 3rem
        position: relative
        width: 20rem
        height: 17rem

    &__videoButtonContentContainer
        opacity: .4
        cursor: pointer
        position: relative
        &--active
            opacity: 1
        &:hover
            animation: opacityButton 1s ease forwards
        @include responsive(phone)
            padding-top: 1rem
            width: 20rem
        @include responsive(phone-landscape)
            width: 20rem

    &__topBorder
        position: absolute
        top: 0
        left: 0
        background-color: black
        height: 1px
        width: 90%

    &__videoButtonTitle
        color: #171a20
        font-size: 1.8rem
        font-family: 'Gotham Medium'
        font-weight: 500
        padding: 1.5rem 0 1.5rem 2rem
        &:last-child
            margin-top: -2rem
        @include responsive(phone-landscape)
            font-size: 1.3rem
        @include responsive(phone)
            font-size: 1.3rem

        &--smaller
            width: 50%

    &__videoButtonText
        color: #5c5e62
        font-family: 'Gotham Book'
        font-size: 1.2rem
        font-weight: 400
        padding: 0 3rem 0 2rem
        line-height: 1.4

    &__videoButtonInfoContainers
        margin-top: 3rem
        display: flex
        @include responsive(tablet-portrait)
            flex-direction: column
        @include responsive(phone-landscape)
            flex-direction: column

    &__videoButtonInfoInner
        display: flex
        flex: .5
        padding: 0 0 2rem 2rem

    &__videoButtonInfoTitle
        color: #171a20
        font-size: 2.4rem
        font-family: 'Gotham Medium'
        font-weight: 500
        @include responsive(phone-landscape)
            font-size: 2rem
            margin-right: 1.8rem
        @include responsive(phone)
            font-size: 2rem
            margin-right: 1.8rem

    &__videoButtonInfoTextContainer
        display: flex
        flex-direction: column
        margin-left: .7rem

    &__videoButtonInfoText
        font-size: 1.2rem
        font-family: 'Gotham Book'
        font-weight: 400
        color: #5c5e62
        &:not(:first-child)
            margin-top: .4rem

    &__activeBorder
        position: absolute
        left: 0
        height: 100%
        width: 100%
        border: 2px solid rgba(1,1,1,1)
        transition: all .5s ease
        &--top
            border: none
            border-top: 2px solid rgba(1,1,1,1)

    /* Subtitle miles */
    &__subtitleMilesContainer
        display: flex
        align-items: baseline
        margin-top: 1.5rem
        padding: 0 1.5rem
        color: #171a20
        font-weight: 500
        font-family: 'Gotham Medium'

    &__videoButtonSubtitle
        font-size: 3rem

    &__milesSpan
        font-size: 1.7rem
        margin-left: .5rem
