.videoButtonElement
    position: relative
    margin-right: 2rem
    transition: all .5s ease
    display: flex
    width: 40rem
    transition: all .5s ease
    @include responsive(tablet)
        width: 25rem
    @include responsive(ipadPro-portrait)
        width: 40rem
    @include responsive(1280)
        width: 30rem
    @include responsive(900)
        width: 20rem

    @include responsive(smallphone-portrait)
        width: 20rem

    &--smaller
        width: 20rem
        @include responsive(800)
            width: 18rem
        @include responsive(414-portrait)
            width: 15rem

    &--longer
        width: 100%
        margin-right: 0
        @include responsive(800)
            width: 25rem
        @include responsive(smallphone-portrait)
            width: 18rem

    &__videoButtonContentContainer
        opacity: .4
        cursor: pointer
        position: relative
        &--active
            opacity: 1
        &:hover
            animation: opacityButton 1s ease forwards
        @include responsive(phone)
            padding-top: 1rem

    &__topBorder
        position: absolute
        top: 0
        left: 0
        background-color: black
        height: 1px
        width: 90%

        &--smaller
            @include responsive(phone)
                width: 60%
                left: 10%
            @include responsive(500)
                width: 80%

        &--white
            background-color: #fff

    &__videoButtonTitle
        color: #171a20
        font-size: 1.8rem
        font-family: 'Gotham Medium'
        font-weight: 500
        padding: 1.5rem 0 1.5rem 2rem
        width: 90%
        @include responsive(phone-landscape)
            font-size: 1.3rem
        @include responsive(phone)
            font-size: 1.3rem

        &--white
            color: white

        &--smaller
            @include responsive(800)
                width: 80%
                font-size: 1.5rem
            @include responsive(phone)
                line-height: 1.5

        &--longer
            @include responsive(800)
                padding: 1rem 0

    &__videoButtonText
        color: #5c5e62
        font-family: 'Gotham Book'
        font-size: 1.2rem
        font-weight: 400
        padding: 0 3rem 2rem 2rem
        line-height: 1.4
        &--white
            color: white

        &--longer
            @include responsive(800)
                padding: 0 1rem 0 0
                width: 80%
            @include responsive(phone)
                width: 90%

    &__videoButtonInfoContainers
        margin-top: 3rem
        display: flex
        @include responsive(900)
            margin-top: 0
        @include responsive(tablet-portrait)
            flex-direction: column
        @include responsive(phone-landscape)
            flex-direction: column

    &__videoButtonInfoInner
        display: flex
        flex: .5
        padding: 0 0 2rem 2rem

    &__videoButtonInfoTitle
        color: #171a20
        font-size: 2.4rem
        font-family: 'Gotham Medium'
        font-weight: 500
        @include responsive(phone-landscape)
            font-size: 2rem
            margin-right: 1.8rem
        @include responsive(phone)
            font-size: 2rem
            margin-right: 1.8rem

    &__videoButtonInfoTextContainer
        display: flex
        flex-direction: column
        margin-left: .7rem

    &__videoButtonInfoText
        font-size: 1.2rem
        font-family: 'Gotham Book'
        font-weight: 400
        color: #5c5e62
        &:not(:first-child)
            margin-top: .4rem

    &__activeBorder
        position: absolute
        left: 0
        height: 100%
        width: 100%
        border: 2px solid rgba(1,1,1,1)
        transition: all .5s ease
        &--white
            border-color: white !important

        &--top
            border: none
            border-top: 2px solid rgba(1,1,1,1)
            width: 70%
            margin-left: 2rem
            @include responsive(800)
                margin-left: 0

    /* Subtitle miles */
    &__subtitleMilesContainer
        display: flex
        align-items: baseline
        padding: 1.5rem 1.5rem
        color: #171a20
        font-weight: 500
        font-family: 'Gotham Medium'

    &__videoButtonSubtitle
        font-size: 3rem

    &__milesSpan
        font-size: 1.7rem
        margin-left: .5rem
